* {
    padding: 20px;
    font-family: 'Labrada', serif;
}

main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    margin: auto;    
}

.high-scores {
    position: absolute;
    background-color: white;
    color: plum;
}

.navDiv {
    position: absolute;
    background-color: white;
    color: black;
    left: 920px;
}

.timerDisplay {
    left: 1100px;
    text-align: right;
}

.quiz-title {
    text-align: center;
    margin-bottom: 5px;
}

.start-content {
    text-align: center;
    margin-bottom: 3px;
    font-weight: 400;
}

button-cont {
    width: 100%;
    display: flex;
}

button {
    margin: 0 auto;
}

.start-quiz {
    text-align: center;
    background-color: darkblue;
    color: white;
}



